{# Load the tag library #}

{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<body background="/static/bigbang.jpg">
<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand">人保金服应用部署系统管理后台</a>
        </div>
        <div>
            <p class="navbar-text navbar-left"></p>
            <!--向右对齐-->
            <form class="navbar-form navbar-right" role="form" action="/login/" method="post"
                  enctype="multipart/form-data">
                <input type="submit" value="返回主页" name="back_to_index" class="btn btn-block btn-success navbar-btn" href="http://http://172.16.1.169:9527/admin/">
            </form>
            <p class="navbar-text navbar-right">北京沐融信息科技有限公司</p>
            <p class="navbar-text navbar-right"><span style="color: red">{{ alert }}</span></p>
        </div>
    </div>
</nav>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-6 column " style="padding: 100px 100px 10px;float: none;
                                                            display: block;
                                                            margin-left: auto;
                                                            margin-right: auto;  ">
            <h3 class="text-center">

            </h3>
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h3 class="panel-title">人保金服应用部署系统权限管理</h3>
                </div>
                <div class="panel-body">
                    <br>
                    <form class="form-horizontal" role="form" method="post">
                        <div class="input-group ">
                            <span class="input-group-addon">管理员：</span>
                            <input class="form-control" id="username" name="user" type="text" placeholder="请输入"/>
                        </div>
                        <br>
                        <div class="input-group">
                            <span class="input-group-addon">密码：</span>
                            <input class="form-control" id="password" name="pwd" type="password" placeholder="请输入"/>
                        </div>
                        <br>
                        <div class="col-md-14 column ">
                            <button type="submit" class="btn btn-block btn-default btn-default">登录</button>
                            <span style="color: red">{{ error_msg }}</span>
                        </div>
                    </form>
                </div>
            </div>
            <p class="text-center text-info">
                <small></small>
            </p>
        </div>
    </div>
</div>
</body>