<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/static/commons.css" />
    <title>沐融部署工具</title>
</head>
<body>
<div style="height: 48px;background-color: #ff564a">沐融部署工具</div>
<div>
    <form action="/deploy/" method="post" >
        {% csrf_token %}
        <p>
            <input type="submit" value="部署" name="upload"/>
        </p>
        <p>
            <input type="submit" value="重启服务" name="execute"/>
        </p>
    </form>
</div>

</body>
</html>