<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>沐融部署工具</title>
</head>
<body>
<div style="height: 48px;background-color: aquamarine">沐融部署工具</div>
<div>
    <form action="/execute/" method="post">
        {% csrf_token %}
        <br><br><br>
        目标：
        <select name="server">
            <option value=""></option>
            {% for row in  permissions %}
                <option value="{{ row }}">{{ row }}</option>
            {% endfor %}
        </select><br><br><br>执行命令：
        ygstart
        <select name="GorS">
            <option value=""></option>
            <option value="-s">-s</option>
            <option value="-g">-g</option>
        </select>
        <input name="command" type="text"/><br><br><br>
        <input type="submit" value="Execute!" name="execute"/>
    </form>
</div>
</body>
</html>