<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>沐融部署工具</title>
</head>
<body>
<div style="height: 48px;background-color: aquamarine">沐融部署工具</div>
<div>
    <form action="/execute/" method="post" >
        {% csrf_token %}
<br><br><br>
        目标：
        <select name="server">
            <option value=""></option>
            <option value="bpdcap">bpdcap</option>
            <option value="bpdmbs">bpdmbs</option>
            <option value="bpdposp">bpdposp</option>
            <option value="cgdgw">cgdgw</option>
            <option value="cgdpom">cgdpom</option>
            <option value="cgdweb">cgdweb</option>
            <option value="cgdifc">cgdifc</option>
            <option value="csdacm">csdacm</option>
            <option value="csdact">csdact</option>
            <option value="csdbpg">csdbpg</option>
            <option value="csdmkm">csdmkm</option>
            <option value="gsdadt">gsdadt</option>
            <option value="gsdpay">gsdpay</option>
            <option value="gsdpsm">gsdpsm</option>
            <option value="bsdbat">bsdbat</option>
            <option value="bsdbui">bsdbui</option>
            <option value="bsdrpt">bsdrpt</option>
        </select><br><br><br>执行命令：
        ygstart
        <select name="GorS">
            <option value=""></option>
            <option value="-s">-s</option>
            <option value="-g">-g</option>
        </select>
        <input name="command" type="text"/><br><br><br>
        <input type="submit" value="Execute!" name="execute"/>
    </form>
</div>
</body>
</html>