{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<head>
</head>
<body background="/static/20171116192242.jpg">
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">


            {% for row in  result %}
                {{ row }}<br>
            {% endfor %}

        </div>
        {% if successTag %}
                <div class="alert alert-success alert-dismissable">
                    <h4>
                        成功
                    </h4> <strong>Succeed!</strong> 执行人：{{ user }}<br>
                    <strong>{{ log_info }}</strong>
                </div>
            {% else %}
                <div class="alert alert-dismissable alert-danger">
                    <h4>
                        失败
                    </h4> <strong>Failed!</strong> 执行人：{{ user }}<br>
                    <strong>{{ log_info }}</strong>
                </div>
            {% endif %}
        <div class="col-md-12 column">
            <br>
            <form action="/upload/" method="get" role="form">
                <p style="width: 20%;margin: 0 auto;">
                    <button type="submit" value="back" name="back" class="btn btn-lg btn-default">回到主页</button>
                </p>
            </form>
        </div>
    </div>
</div>
</body>