{# Load the tag library #}
{% extends 'base.html' %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block page-content %}
    <body background="/static/bigbang.jpg">
    <div class="container">
        <div class="row clearfix">
            <div class="col-md-10 column " style="padding: 100px 50px 10px;float: none;
                                                            display: block;
                                                            margin-left: auto;
                                                            margin-right: auto;  ">
                <h3 class="text-center" style="color: white">
                    人保金服应用部署系统
                </h3>
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h3 class="panel-title">查询步骤</h3>
                    </div>
                    <div class="panel-body">
                        <form action="/stepResponse/" class="form-horizontal" role="form" method="post">
                            <p style="width: 50%;margin: 0 auto;">
                                需求/BUG号（高优先级）:<input class="form-control" id="reqnum" name="reqNum" type="text"
                                                     placeholder="需求/BUG号（高优先级）" value={{ requestNum }}><br>
                                开发者：<input class="form-control" id="developer" name="developer" type="text"
                                           placeholder="开发者" value={{ user }}><br>
                                <input type="submit" value="查询" name="queryStep"
                                       class="btn btn-lg btn-block btn-warning">
                            </p>
                        </form>
                    </div>
                </div>
            </div>
            {% include 'back_to_index.html' %}
        </div>
    </div>
    </body>
{% endblock %}