{# Load the tag library #}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
<head>
</head>
<body>
<div class="container">
    <div class="row clearfix">
    <div class="col-md-1 column">
            <br>
            <form action="/upload/" method="get" role="form">
                <p style="width: 20%;margin: 0 auto;">
                    <button type="submit" value="back" name="back" class="btn btn-lg btn-default">回到主页</button>
                </p>
            </form>
        </div>
        <div class="col-md-12 column">
            <table class="table">
                <thead>
                <tr>
                    <th>
                        id
                    </th>
                    <th>
                        开发负责人
                    </th>
                    <th>
                        需求号
                    </th>
                    <th>
                        部署步骤
                    </th>
                    <th>
                        额外步骤
                    </th>
                    <th>
                        服务器用户
                    </th>
                </tr>
                </thead>
                <tbody>

                {% for row in  allres %}
                    <tr class="success">
                        {% for coloum in  row %}
                            <th>
                                {{ coloum }}
                            </th>
                        {% endfor %}
                    </tr>
                {% endfor %}


                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>
</html>