{# Load the tag library #}
{% extends 'base.html' %}
{% load bootstrap3 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}
{% block page-content %}
{# Display a form #}
<body background="/static/20171116192242.jpg">
<div class="container">
    <div class="row clearfix">
        <div class="col-md-12 column">
            <h3 class="text-center">
                沐融touch工具
            </h3>
            <form action="/touch/" class="form-horizontal" role="form" method="post">
                <div class="form-group">
                    <div class="col-sm-10">
                        <p style="width: 20%;margin: 0 auto;">
                            <label for="exampleInputFile">口令：</label>
                            <input class="form-control" id="password" name="password" type="password" placeholder="口令"/>
                        </p>
                    </div>
                </div>
                <br>
                <div class="form-group">
                    <div class="col-sm-10">
                        <p style="width: 20%;margin: 0 auto;">
                            <label for="exampleInputFile">服务器：</label>
                            <select name="server">
                                <option value=""></option>
                                {% for row in  permissions %}
                                    <option value="{{ row }}">{{ row }}</option>
                                {% endfor %}
                            </select>
                        </p>
                        <br>
                        <p style="width: 20%;margin: 0 auto;">
                            <label for="exampleInputFile">touch目标：</label>
                            <input class="form-control" id="target" name="target" type="text" placeholder="目标"/>
{#                            <select name="target">#}
{#                                <option value=""></option>#}
{#                                {% for row in  date_list %}#}
{#                                    <option value="{{ row }}">{{ row }}</option>#}
{#                                {% endfor %}#}
{#                            </select>#}
                        </p>
                        <br>
                        <p style="width: 20%;margin: 0 auto;">
                            <button type="submit" value="touch" name="touch" class="btn btn-danger">touch
                            </button>
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <span style="color: red">{{ error_msg }}</span>
                    </div>
                </div>
            </form>
            <p class="text-center text-info">
                <em>提示：</em> 隐藏功能——<strong>touch，谨慎操作！</strong>
                <small></small>
            </p>
        </div>
    <div class="col-md-12 column">
        <br>
        <form action="/upload/" method="get" role="form">
            <p style="width: 20%;margin: 0 auto;">
                <button type="submit" value="back" name="back" class="btn btn-lg btn-default">回到主页</button>
            </p>
        </form>
    </div>
    </div>
</div>
</body>
{% endblock %}